<div *ngIf="nav.visible">
<nav class="navbar navbar-default" >

  <div class="navbar-header"><a href="#" class="navbar-brand">Website</a></div>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
<!--    <li routerLinkActive="active" ><a routerLink="/education" >Education</a></li>-->
<!--    <li routerLinkActive="active"><a routerLink="/experience">Experience</a></li>-->
<!--    <li routerLinkActive="active"><a [routerLink]="'/skills'">Skills</a></li>-->
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li routerLinkActive="active"><a [routerLink]="'/login'" (click)="deleteUser()">Logout</a></li>
  </ul>

</nav>
</div>
