<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4"></div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <form  class="list-group-item" [formGroup]="educationAddForm" (ngSubmit)="addEducation()">
        <div class="text-center " style="font-size: medium"><b>Enter Education Details</b></div>

          <div formGroupName="data" >
          <div class="form-group">
            <label for="school">School Name:</label>
            <input type="text" class="form-control" id="school"
                   placeholder="Enter School"
                   formControlName="schoolName" >
            <span class="help-block" style="color:red;" *ngIf="!educationAddForm.get('data.schoolName')!.valid && educationAddForm.get('data.schoolName')!.touched">enter institution name</span>

          </div>

          <div class="form-group">
            <label for="degree">Degree</label>
            <input type="text"
                   class="form-control" id="degree"
                   formControlName="degreeName" >
            <span class="help-block" style="color:red;" *ngIf="!educationAddForm.get('data.degreeName')!.valid && educationAddForm.get('data.degreeName')!.touched">enter degree name</span>


          </div>
          <div class="form-group">
            <label for="grade">Grade</label>
            <input type="number" step="0.1" min="0" max="10"
                   class="form-control" id="grade"
                   formControlName="grade">
            <span class="help-block" style="color:red;" *ngIf="!educationAddForm.get('data.grade')!.valid && educationAddForm.get('data.grade')!.touched">enter grade</span>

          </div>


          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="Date" class="form-control"
                   id="startDate"
                   formControlName="startDate">

          </div>
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="Date" class="form-control"
                   id="endDate"
                   formControlName="endDate">

          </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control"
                 id="description"
                 formControlName="descript">

        </div>
        </div>
        <button type="submit"  [disabled]="!educationAddForm.valid" class="btn btn-success" >Add</button>
        <button type="button" class="btn btn-secondary pull-right" (click)="close()" >Cancel</button>

      </form>
      <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>
  </div>
</div>



