<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4"></div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <form  class="list-group-item" (ngSubmit)="addEducation(f)" #f="ngForm">
        <div class="text-center " style="font-size: medium"><b>Enter Education Details</b></div>
        <div ngModelGroup="data" >
          <div class="form-group">
            <label for="school">School Name:</label>
            <input type="text" class="form-control" id="school"  placeholder="Enter School" name="schoolName" ngModel required>

          </div>
          <div class="form-group">
            <label for="degree">Degree</label>
            <input type="text" class="form-control" id="degree"   name="degreeName" ngModel required>

          </div>
          <div class="form-group">
            <label for="grade">Grade</label>
            <input type="number" step="0.1" min="0" max="5" class="form-control" id="grade" name="grade" ngModel required>
          </div>


          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="Date" class="form-control" id="startDate"   name="startDate" ngModel required>

          </div>
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="Date" class="form-control" id="endDate"   name="endDate" ngModel required>

          </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"   name="descript" ngModel>

        </div>
        </div>
        <button type="submit"   class="btn btn-success" >Add</button>
        <button type="button" class="btn btn-secondary pull-right" (click)="close()" >Cancel</button>

      </form>
      <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>
  </div>
</div>



