<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4"></div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <form   class="list-group-item" [formGroup]="experienceAddForm" (ngSubmit)="addExperience()" >
        <div class="text-center " style="font-size: medium"><b>Enter Experience Details</b></div>
        <div formGroupName="data">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control"
                 id="title"  placeholder="Enter Title"
                 formControlName="title">
          <span class="help-block" style="color:red;" *ngIf="!experienceAddForm.get('data.title')!.valid && experienceAddForm.get('data.title')!.touched">enter title</span>

        </div>


        <div class="form-group">

          <label for="employmentType">Employment Type</label>
          <select class="form-control" id="employmentType" formControlName="employmentType">
            <option value="fulltime" style="font-size: medium">Full Time</option>
            <option value="internship" style="font-size: medium">Internship</option>

          </select>
          <span class="help-block" style="color:red;" *ngIf="!experienceAddForm.get('data.employmentType')!.valid && experienceAddForm.get('data.employmentType')!.touched">select employment type</span>

        </div>


        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control"
                 id="companyName"   formControlName="companyName">
          <span class="help-block" style="color:red;" *ngIf="!experienceAddForm.get('data.companyName')!.valid && experienceAddForm.get('data.companyName')!.touched">enter company name</span>

        </div>


        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control"
                 id="location"
                 formControlName="location">
          <span class="help-block" style="color:red;" *ngIf="!experienceAddForm.get('data.location')!.valid && experienceAddForm.get('data.location')!.touched">enter location</span>

        </div>


        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="Date" class="form-control"
                 id="startDate"  formControlName="startDate">
        </div>

        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="Date" class="form-control"
                 id="endDate"  formControlName="endDate" >
        </div>


        </div>

        <button type="submit" [disabled]="!experienceAddForm.valid" class="btn btn-success" >Add</button>
        <button type="button" class="btn btn-secondary pull-right" (click)="close()" >Cancel</button>

      </form>
      <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>
  </div>
</div>


