
<div class="formLogin">
<div class="container">

  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-md-4"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 justify-content-center">
      <form class="list-group-item" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <h4 class="text-center font-weight-bold"> Login </h4>
          <span class="help-block" style="color:red;" >{{message}}</span>
          <label for="InputEmail1">Email Address</label>
          <input type="email" class="form-control" id="InputEmail1"  placeholder="Enter email" name="email" ngModel required email  #email="ngModel">
          <span class="help-block" style="color:red;" *ngIf="email.invalid && email.touched">Please enter a valid email</span>
        </div>
        <div class="form-group">
          <label for="InputPassword1">Password</label>
          <input type="password" class="form-control" id="InputPassword1" placeholder="Password" name="password" ngModel required>
        </div>
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-block" >Submit</button>


          <br>
          <p> Don't have an account? <a (click)="registerUser()">Sign Up</a></p>


      </form>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4"></div>
  </div>
</div>
<!-- Login form creation ends -->
</div>


