<div class="container">
<div class="row">
  <div class="col-xs-12">


    <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlbIDBDhiqs25TJAjMNKQtQpnDGmg-o8WI0f1rcTxVjR7mnJWEla1XMtZ4V8qDaN6J6f4&usqp=CAU" class="img-responsive img-circle" style="width:auto">
-->
    <div class="list-group-item clearfix">
                                <span class="col-xs-4">
                                        <img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2Fyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                             class="img-responsive img-rounded" alt="Responsive image">
                                </span>

      <span class="col-xs-8">
                                        <p class="pull-right" style="font-size:medium;">Though there is an assortment of
                                                brand-new
                                                and
                                                fully redesigned passenger cars hitting the
                                                road for 2020 model year, their numbers are dwindling as buyers
                                                are
                                                instead choosing
                                                sport-utility vehicles as their rides of choice. Stalwart sedans
                                                like
                                                the Chevrolet
                                                Impala and Ford Taurus are being discontinued, with the number
                                                of small
                                                cars in
                                                particular thinning rapidly. While there were 26 subcompact
                                                models on
                                                the market as
                                                recently as 2016, they’re down to just 17 for 2019, with the
                                                Ford Fiesta
                                                and Chevrolet
                                                Sonic reportedly bowing out at the end of the current model
                                                year.

                                                Here’s a look at some of the most prominent introductions
                                                reaching
                                                dealers’ showrooms
                                                for 2020 for those who still aren’t averse to driving a sedan or
                                                coupe.
                                                We’ll catch up
                                                with the hottest new SUVs for the rest of you in a separate
                                                post.</p>
                                </span>
    </div>
    <hr>




  </div>
</div>
</div>

<!--<app-experience></app-experience>
<app-education></app-education>-->
<!--<app-skills></app-skills>-->
